@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
body{
  display: flex;
}
header{
  border: 1px solid gray;
  height: 100vi;
}
nav h1 {
  font-size: 25px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid gray;
}
nav ul{
  list-style: nones;
}
nav ul li{
  border: 1px solid gray;
  padding: 10px;
  color: black;
}
nav ul li:hover{
  background-color: antiquewhite;
  transition: 0.3s ease-in-out;
}
main{
  max-width: 1200px;
}
section{
  margin-bottom: 30px;
}
section p {
  font-size: 14px;
}
main p{
  padding: 27px 40px;
}
main h2{
  padding: 8px;
}
.code{
  padding: 0px 20px;
}